# .gitignore: things not to put under source control

# Project specific structure
/bin/
/local/
**/venv/

# Generated during build
**/build/
**/_build/
**/_static/
**/_tempolates/

# Places and extensions I use for non-SCM-able scraps
/scraps/
/temp/
*.saved

# IDE Files (I don't check mine in: get your own!)
/.classpath
/.externalToolBuilders/
/.project
/.settings/
/.pydevproject

# Droppings of various tools, not for the record
*.class
*.log
*.pyc
*.pyd
*.pyo
*.orig
*.rej
*.swp
*.tmp
\#*
*~

/.gradle/
