# Set the default behaviour, in case people don't have core.autocrlf set.
* text=input eol=lf

# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.
#*.asdl text

# Declare files that will always have CRLF line endings on checkout.
#*.<ext> text eol=crlf

# Denote all files that are truly binary and should not be modified.
*.png binary
*.jpg binary
*.jar binary
