# Run concurrency unit tests rt4 core sub-project (GitHub action)
name: rt4 core concurrency

# The ARM memory model is weaker than the Intel-amd64 model,
# so we run this on both.
# A correctly synchronised program should always run identically.
# An incorrectly synchronised one may exhibit different failures.

on: [push]

permissions:
    contents: read

jobs:
  rt4-unit-tests-Ubuntu-jdk-17-concurreny:

    strategy:
      matrix:
        os: [ubuntu-24.04-arm, ubuntu-latest]

    runs-on: ${{ matrix.os }}

    steps:
      - run: echo "Branch ${{ github.ref }} of repository ${{ github.repository }}."
      - uses: actions/checkout@v4

      - uses: gradle/actions/wrapper-validation@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Set up Python 3.11
        uses: actions/setup-python@v4
        with:
          # This has to match the language version we're targeting
          python-version: '3.11'

      - name: Unit test with Gradle
        run: ./gradlew --no-daemon rt4core:concurrencyTest
